.card{
    height: 270px;
    width: 220px;
    background-color: #d9d9d9;
    border-radius: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .6);
}
.card img{
    width: 220px;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 30px;
}
.card header{
    margin: 10px 20px 0 20px;
    word-wrap: break-word; /* Garante a quebra de linha */
    overflow-wrap: break-word; /* Garante a quebra de linha */
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite a quebra de linha normal */
    
}
.card div{
    margin: 40px 0 0 20px;
    display: flex;
    gap: 5px;
    align-items:end;
}
.card p{
    font-family: 'Jockey One';
    margin-bottom: 8px;
}
.card h2{
    font-family: 'Lalezar';
    font-size: 2.5rem;
    margin: 0;
}