@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.footer{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #1a1818;
    color:white;
    padding: 0 200px 0 200px;
    font-family: 'Oswald';
    text-transform: uppercase;
}
.cartoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(94, 91, 91);
    padding: 30px 0;
    margin-top: 30px;
    color: rgb(94, 91, 91);
    
}
.cartoes .img img{
    height: 20px;
    width: 30px;
    border-radius: 3px;
}
.cartoes .img{
    display: flex;
    gap: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    
}
.info p{
    color: rgb(94, 91, 91);
    margin-bottom: 0;
    font-size: 11pt;
 
}
.info a{
    text-decoration: none;
    color: rgb(94, 91, 91);
    font-size: 11pt;
}
.info a:hover{
    color: #FF9C06;
}
.info ul{
    list-style-type: none;
}
.info .contents{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.info .social{
    display:flex;
    gap: 10px;
}
.info .social a{
    font-size: 1rem;
}
.info .social a:hover{
    color: #FF9C06;
}