@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
.benefict{
    height: 500px;
    background-color:#d9d9d9;
    border-bottom-right-radius: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ben_item{
    height: 300px;
    width: 250px;
    border-radius: 20px;
    background-color: #FF9C06;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .4);
}
.cicle{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cicle img{
    height: 80px;
    width: 80px;
}
.ben_item p {
    word-wrap: break-word; /* Garante a quebra de linha */
    overflow-wrap: break-word; /* Garante a quebra de linha */
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite a quebra de linha normal */
    margin: 0; /* Remove a margem padrão do parágrafo */
    text-align: center;
    font-family: 'Jockey One';
    margin: 0 5px 0 5px;
}
.ben_item h4{
    margin: 8px 0 10px 0;
    font-family: 'Jockey One';
}
/*------Responcividade--------*/
@media screen  and (max-width: 1170px){
    .ben_item{
        height: 250px;
        width: 200px;
    }
    .cicle{
        height: 110px;
        width: 110px;  
    }
    .cicle img{
        height: 80px;
        width: 80px;
    }
    .ben_item p {

    }
    .ben_item h4{

    }
}