@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.creator{
    height: 500px;
    background-color: #B88900;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.name{
    text-align: left;
    margin: 45px 0 0 10px;
}
.spec{
    text-align: left;
    margin: 45px 40px 0 0;
    width: 40%;
}
.spec h5{
    word-wrap: break-word; /* Garante a quebra de linha */
    overflow-wrap: break-word; /* Garante a quebra de linha */
    word-break: break-word; /* Quebra palavras longas */
    white-space: normal; /* Permite a quebra de linha normal */
    margin: 0; /* Remove a margem padrão do parágrafo */
    color: white;
    font-family: 'Koulen';
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: justify;
}
.spec header{
    color: black;
    font-family: 'Koulen';
    font-size: 30pt;
    margin-left: 40px;
}
.name div p{
    text-align: left;
    color: white;
    font-family: 'Koulen';
    font-size: 13pt;
    margin-bottom: 0;
}
.name h2{
    color: black;
    font-family: 'Jockey One';
    font-size: 3rem;
}
.name div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
}
.name div span{
    font-size: 50px;
    color: #000;
}
.apic{
    position: absolute;
    top: 50px;
    left: 110px;
    height: 500px;
    width: 800px;
}
@media screen  and (max-width: 1330px){
    .apic{
        top: 150px;
        left: 130px;
        height: 350px;
        width: 600px;
    }
}
@media screen  and (max-width: 1110px){
    .creator{
        height: 700px;
        justify-content: center;
    }
    .spec{
        margin: 65px 0 0 0;
        width: 80%;

    }
    .spec header{
        font-size: 30pt;
        margin-left: 40px;
        text-align: center;
    }
    .name{
        position: absolute;
        top: 350px;
        left: 60px;
    }
    .apic{
        top: 300px;
        left: 400px;
        height: 450px;
        width: 700px;
        
    }
}
@media screen  and (max-width: 980px){
    .apic{
        top: 350px;
        left: 250px;
        height: 350px;
        width: 600px;
        
    }
}
@media screen  and (max-width: 740px){
    .apic{
        top: 450px;
        left: 200px;
        height: 250px;
        width: 500px;
        
    }
    .name{
      
        top: 400px;
        left: 30px;
    }
}
@media screen  and (max-width: 610px){
    .apic{
        top: 700px;
        left: 15%;
        height: 200px;
        width: 450px;
    }
    .name{
        top: 450px;
        left: 100px;
    }
    .creator{
        height: 900px;
    }
    .spec header{
        font-size: 25pt;
        margin-left: 0;
    }
}
@media screen  and (max-width: 480px){
    .apic{
        top: 650px;
        left: 5%;
        height: 150px;
        width: 350px;
    }
    .name{
        top: 400px;
        left: 40px;
    }
    .creator{
        height: 800px;
    }
    .spec header{
        font-size: 20pt;
    }
    .spec h5{
        font-Size: 1rem;
    }
    .spec{
        margin-top: 30px;
    }
}